*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header{
    background-color: #1f2937;
    width: 100%;
    height: 400px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

a{
    text-decoration: none;
    color: inherit;
    animation: navbarLinkReverse .2s forwards;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.part1{
    width: 25%;
    margin-right: 100px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

.stImg{
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 15px;
    animation: rotAgain 0.5s forwards;
}

.stImg:hover{  
    animation: rot 0.5s forwards;
}

@keyframes rot {
    0%{
        transform: rotate(5deg); 
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotAgain{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg); 
    }
}

.btn{
    background-color: #3882f6;
    border: none;
    animation: buttonAnimReverse 0.5s;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.btn:hover{
    animation: buttonAnim 0.5s forwards;
    cursor: pointer;
}

.btn:active{
    cursor: progress;
}

@keyframes buttonAnim{
    0%{
        background-color: #3882f6;
        border: none;
    }
    100%{
        background-color: #1f2937;
        border: 1px solid white;        
    }
}

@keyframes buttonAnimReverse{
    0%{
        background-color: #1f2937;
        border: 1px solid white;     
    }
    100%{
        background-color: #3882f6;
        border: none;
    }
}

a:hover{
    animation: navbarLink .2s forwards;
}

@keyframes navbarLink{
    0%{
        
    }
    100%{
        font-size: 18px;
    }
}

@keyframes navbarLinkReverse{
    0%{
        font-size: 18px;
    }
    100%{

    }
}

h3:hover{
    cursor: pointer;
}

.info{
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

h2{
    font-size: 36px;    
    font-weight: bold;
}

.container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    align-items: center;
}

.infoImg{
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.quote{
    background-color: #e5e7eb;
    width: 100%;
    height: 400px;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteCon{
    width: 800px;
}

.quoteText{
    font-size: 24px;
    font-style: italic;
}

strong{
    font-size: 20px;
}

.SingIn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.SignUpCon{
    width: 900px;
    background-color: #3882f6;
    border-radius: 15px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.SignUpButton{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #3882f6;
    width: 120px;
    height: 30px;
    color: white;
}

.SignUpButton:hover{
    background-color: white;
    color: #3882f6;
    cursor: pointer;
}

.footer{
    background-color: #1f2937;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}